.student {
  font-family: "Times New Roman", Times, serif;
  font-size: 2px;
  padding: 10px;
  border: 1px solid black;
  max-width: 250px;
}

.student h2 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.student p {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  margin: 0;
}
