.card {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
  max-width: 250px;
  max-height: 500px;
}

.cardimg {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 12px;
}

.cardtitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: aquamarine;
}

.cardtext {
  font-family: "Times New Roman", Times;
  font-size: 1rem;
  color: #333333;
}
