.welcome {
  font-size: 2.5rem;
  color: #f7f7f7;
  background-color: hsl(120, 100%, 42);
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.login {
  font-size: 2.5rem;
  color: #ffffff;
  background-color: hsl(357, 100%, 42%);
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  max-width: 500px;
}
